#azul {
    background-color: blue;
}

#rojo {
    background-color: red;
}

#naranja {
    background-color: orange;
}

#verde {
    background-color: green;
}

#morado {
    background-color: purple;
}